.container.content {
  .row {
    .right_sidebar {
      .right_sidebar_first, .right_sidebar_second{
        .right_sidebar_top {
          margin-top: 22px;
          @include sidebar_header;
        }
      }
      .right_sidebar_first{
        .bk_list{
          background-color: #fff;
          ul.bk_list_items{
            @include clean_list;
            li.bk_item{
              padding-left: 16px;
              padding-right: 16px;
              padding-bottom: 10px;
              border-top: 1px solid #d9d9d9;
              &:first-child{
                border-top: unset;
              }
              &.hide_item{
                display: none;
              }
              .content_section{
                .up_content{
                  padding-top: 10px;
                }
                .up_content, .down_content{
                  display: flex;
                  justify-content: stretch;
                  .bk_thumbnail{
                    width: 50%;
                    padding-right: 2px;
                    img{
                      width: 100%;
                    }
                  }
                  .link_to{
                    width: 50%;
                    padding-left: 2px;
                    a{
                      display: flex;
                      width: 100%;
                      height: 100%;
                      align-items: center;
                      justify-content: center;
                      color: #212121;
                      &:hover{
                        color: #315d89;
                      }
                      &.red_button{
                        background-color: #9a0007;
                        background-color: #d32f2f;
                        color: #fff;
                        border-radius: 5px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 10px;
                      }
                      &.read_more{
                        font-size: 9px;
                      }
                    }
                  }
                  //2-nd row
                  .rate{
                    display: flex;
                    width: 50%;
                    align-items: center;
                    .rate_content{
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      background-color: #336699;
                      border-radius: 3px;
                      padding: 2px 4px;
                      img{
                        margin-right: 14px;
                        width: 16px;
                        height: 16px;
                      }
                      span.count{
                        color: #fff;
                      }
                    }
                  }
                }
                .down_content{
                  margin-top: 5px;
                }
              }
            }
          }
        }
        .right_sidebar_bottom{
          background-color: #fff;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          .more_buttons{
            display: flex;
            align-items: center;
            .grey_div{
              height: 1px;
              background-color: #d9d9d9;
              flex: 1;
            }
            .more_button_container{
              background-color: #004571;
              color: #fff;
              height: 28px;
              width: 28px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              font-weight: bold;
              cursor: pointer;
            }
          }
          .bk_total{
            margin-top: 4px;
            padding-bottom: 10px;
            text-align: center;
            color: #888888;
            .numbers{
              color: #8da1e2;
              text-decoration: underline;
            }
          }
        }
      }
      .right_sidebar_second{
        .right_sidebar_content{
          background-color: #fff;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          .head_text{
            padding: 15px 16px;
            font-size: 12px;
          }
          form#rate_your_bk{
            .inputs_container{
              padding-left: 16px;
              padding-right: 16px;
              padding-bottom: 10px;
              input, textarea{
                width: 100%;
                color: #d9d9d9;
                font-size: 12px;
                padding-left: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                border: 1px solid #d9d9d9;
                &::placeholder {
                  color: #d9d9d9;
                }
                &[name="name"]{
                  margin-bottom: 5px;
                  margin-top: 5px;
                }
                &[name="email"]{
                  border-bottom-left-radius: 5px;
                  border-bottom-right-radius: 5px;
                }
              }
              #select_bk{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background: url(/wp-content/themes/football/images/triangle_down.png) 97% center no-repeat;
                &.open{

                }
              }
              .output_range{
                display: flex;
                position: relative;
                height: 20px;
                margin-right: 17px;
                .range_value{
                  position: absolute;
                }
              }
              input[type="range"]#bk_rate{
                appearance: none;
                outline: none;
                border: unset;
                padding: unset;

                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: 10px;
                border-radius: 5px;
                background: #eee;
                outline: none;
              }
              #bk_rate::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                border: 2px solid #004571;
                border-radius: 50%;
                background: #fff;
                cursor: pointer;
              }
              #bk_rate::-moz-range-thumb {
                width: 20px;
                height: 20px;
                border: 2px solid #004571;
                border-radius: 50%;
                background: #fff;
                cursor: pointer;
              }
              textarea#your_comment{
                height: 84px;
                margin-top: 5px;
                resize: none;
              }
            }
            .submit_container{
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px 16px;
              border-top: 1px solid #d9d9d9;
              .rate_bk_button{
                background-color: #336699;
                color: #fff;
                text-transform: uppercase;
                width: 100%;
                &:hover{
                  background-color: #004571;
                }
              }
            }
          }
        }
      }
    }
  }
}